/* Root element styling */
#root {
    width: 100vw;
    min-height: 100vh;
    color: var(--white);
}

/* Social media sidebar styling */
.social-media-sidebar {
    row-gap: 0.75rem;
    position: fixed;
    top: 50%;
    left: 25px;
    transform: translate(0%, -50%);
}

.social-media-sidebar .social-media-button svg {
    width: 32px;
    height: 32px;
}

/* Main content styling */
.main-content {
    margin-left: 6rem;
    padding-top: 14rem;
    row-gap: 25px;
}

/* Hero section styling */
.hero-section {
}
.hero-title {
    font-weight: bold;
}
.hero-command {
    font-size: 1.75rem;
}

.hero-command-user {
    color: var(--terminal-green);
}
.hero-command-tilde {
    color: var(--terminal-blue);
}
.hero-name {
    font-size: 7rem;
}

/* About me styling */
.about-section {
    row-gap: 10px;
}
.about-me-title {
    text-transform: uppercase;
    color: var(--terminal-grey);
    font-weight: bold;
    font-size: 1.15rem;
}
.about-me-para {
    font-weight: 600;
    font-size: 1.15rem;
}

/* I'm from styling */
.im-from-section {
    row-gap: 10px;
}
.im-from-title {
    text-transform: uppercase;
    color: var(--terminal-grey);
    font-weight: bold;
    font-size: 1.15rem;
}
.im-from-pre-flag {
    font-family: Courier;
    font-family: monospace;
    font-size: 1.15rem;
}
.im-from-saffron {
    color: var(--saffron);
    font-weight: 900;
}
.im-from-green {
    color: var(--green);
    font-weight: 900;
}
.im-from-kerala-legend {
    color: var(--red);
    font-weight: 900;
}
.im-from-legend-text {
    color: var(--white);
    font-weight: 900;
}
